name: Library Test/Pre-Release

on:
  push:
    branches:
      - "main"

jobs:
  qa-main:
    name: Run QA
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout
        uses: actions/checkout@0ad4b8fadaa221de15dcec353f45205ec38ea70b # v4

      - name: Select NodeJS version
        uses: actions/setup-node@60edb5dd545a775178f52524783378180af0d1f8 # v4
        env:
          # renovate: datasource=docker depName=node versioning=node
          NODE_VERSION: "20.12.2"
        with:
          node-version: ${{ env.NODE_VERSION }}

      - name: Enable Corepack
        run: corepack enable

      - name: Install dependencies
        run: yarn install

      - name: Lint ESLint
        run: yarn lint:eslint
      - name: Lint Prettier
        run: yarn lint:prettier
      - name: Lint TSC
        run: yarn lint:tsc
      - name: Build
        run: yarn build
      - name: Test
        run: yarn test

  qa-successful-main:
    runs-on: ubuntu-22.04
    needs:
      - qa-main
    if: ( success() || failure() )
    steps:
      - name: Success
        if: ${{ !(contains(needs.*.result, 'failure')) }}
        run: exit 0
      - name: Failure
        if: ${{ contains(needs.*.result, 'failure') }}
        run: exit 1

  lib-pre-relase:
    needs: qa-successful-main
    name: Deploy library
    if: github.ref == 'refs/heads/main'
    runs-on: ubuntu-22.04
    concurrency: lib-publish
    permissions:
      contents: read
      id-token: write
    steps:
      - name: Checkout
        uses: actions/checkout@0ad4b8fadaa221de15dcec353f45205ec38ea70b # v4

      - name: Select NodeJS version
        uses: actions/setup-node@60edb5dd545a775178f52524783378180af0d1f8 # v4
        env:
          # renovate: datasource=docker depName=node versioning=node
          NODE_VERSION: "20.12.2"
        with:
          node-version: ${{ env.NODE_VERSION }}
          registry-url: https://registry.npmjs.org

      - name: Enable Corepack
        run: corepack enable

      - name: Install dependencies
        run: yarn install

      - name: Build
        run: yarn build

      - name: Release dev version for testing
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
        run: |
          mv lib dist
          rm dist/tsconfig.tsbuildinfo
          node .scripts/create-release.js --canary=patch
          mv node_modules/ dist/node_modules
          mv yarn.lock dist/yarn.lock
          cd dist
          npm publish --access=public --provenance --tag=next
